pandas==2.2.3
psycopg2==2.9.10
simplejson==3.20.1
SQLAlchemy==2.0.38
GeoAlchemy2==0.17.1
markupsafe==3.0.2
streamlit==1.42.1
altair==5.5.0
plotly==6.0.0

# General Packages
https://github.com/Murabei-OpenSource-Codes/pumpwood-communication/archive/refs/tags/2.2.3.zip

# Streamlit
https://github.com/Murabei-OpenSource-Codes/pumpwood-streamlit-pkg/archive/refs/tags/0.15.1.zip
